services:
  localbooru-be:
    build: ./localbooru-be
    volumes:
      - ./db:/db
      - ./localbooru-be/assets:/root/assets
    ports:
      - "8080:8080"
    restart: unless-stopped

  localbooru:
    build: ./localbooru
    ports:
      - "3000:3000"
    restart: unless-stopped
    env_file:
      - path: localbooru/.env.development
        required: false
#      - path: localbooru/.env.local
#        required: false
#first arg for ports is different from the default ports of nextjs/go be so they can be run in tandem
#w npm run dev, go run .
