@tailwind base;
@tailwind components;
@tailwind utilities;


  :root {
    color-scheme: light dark;

  }

  [data-theme="light"] {
    :root {
      --background: #ffffff;
      --foreground: #171717;
    }
  }
  [data-theme="dark"] {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }

  body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
  }

